$clr-primary: #EFF2EF;
$clr-secondary: #0D1317;
$clr-purple: #726DA8;
$clr-orange: #E49273;

$clr-success: #418056;
$clr-failure: #934141;

$shadows-purple: 0px -11px 138px rgba(114, 109, 168, 0.45),
0px -9.19107px 57.6531px rgba(114, 109, 168, 0.278793),
0px -4.91399px 30.8241px rgba(114, 109, 168, 0.191597),
0px -2.75474px 17.2797px rgba(114, 109, 168, 0.127847),
0px -1.46302px 9.17714px rgba(114, 109, 168, 0.0770701),
0px -0.608796px 3.81881px rgba(114, 109, 168, 0.0351269);
$shadows-orange: 0px 4px 208px rgba(228, 146, 115, 0.46),
0px 1.48196px 121.407px rgba(228, 146, 115, 0.330673),
0px 0.665713px 95.8807px rgba(228, 146, 115, 0.274209),
0px 0.29255px 78.6905px rgba(228, 146, 115, 0.23),
0px 0.107299px 59.8272px rgba(228, 146, 115, 0.185791),
0px 0.0228931px 34.6392px rgba(228, 146, 115, 0.129327);