@use "../abstracts" as *;

main#home {
    display: grid;
    place-content: center;
    justify-items: center;
    row-gap: 32px;

    .buttons {
        display: flex;
        column-gap: 16px;

        @media screen and (max-width: 414px) {
            flex-direction: column;
            row-gap: 25px;

            .button {
                width: 100%;
            }
        }
    }

    #logo {
        width: 56px;
        stroke: #fff;
        stroke-width: 8px;
        stroke-opacity: 50%;
    }
}