.card-deck {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  position: relative;


  .card {
    margin-top: -50.5%;
    transition: all 1.2s ease;
    opacity: 0;
    scale: 0.85;
    display: block;

    &:nth-last-child(-n + 3) {
      margin-top: -50%;
      opacity: 1;
    }

    &:not(:nth-last-child(-n + 4)) {
      display: none;
    }

    &:nth-last-child(1) {
      scale: 1;
    }

    &:nth-last-child(2) {
      scale: 0.95;
    }

    &:nth-last-child(3) {
      scale: 0.90;
    }

    &.hide {
      transform: translateY(50px);
      opacity: 0;
      pointer-events: none;
      margin-top: -60%;
    }
  }


}
