@font-face {
    font-family: 'Shin Go';
    src: url('../../fonts/ShinGoPro-Bold.woff2') format('woff2'),
        url('../../fonts/ShinGoPro-Bold.woff') format('woff'),
        url('../../fonts/ShinGoPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shin Go ';
    src: url('../../fonts/ShinGoPro-ExLight.woff2') format('woff2'),
        url('../../fonts/ShinGoPro-ExLight.woff') format('woff'),
        url('../../fonts/ShinGoPro-ExLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shin Go ';
    src: url('../../fonts/ShinGoPro-DeBold.woff2') format('woff2'),
        url('../../fonts/ShinGoPro-DeBold.woff') format('woff'),
        url('../../fonts/ShinGoPro-DeBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shin Go';
    src: url('../../fonts/ShinGoPro-Heavy.woff2') format('woff2'),
        url('../../fonts/ShinGoPro-Heavy.woff') format('woff'),
        url('../../fonts/ShinGoPro-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shin Go';
    src: url('../../fonts/ShinGoPro-Light.woff2') format('woff2'),
        url('../../fonts/ShinGoPro-Light.woff') format('woff'),
        url('../../fonts/ShinGoPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shin Go';
    src: url('../../fonts/ShinGoPro-Medium.woff2') format('woff2'),
        url('../../fonts/ShinGoPro-Medium.woff') format('woff'),
        url('../../fonts/ShinGoPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shin Go';
    src: url('../../fonts/ShinGoPro-Regular.woff2') format('woff2'),
        url('../../fonts/ShinGoPro-Regular.woff') format('woff'),
        url('../../fonts/ShinGoPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shin Go';
    src: url('../../fonts/ShinGoPro-Ultra.woff2') format('woff2'),
        url('../../fonts/ShinGoPro-Ultra.woff') format('woff'),
        url('../../fonts/ShinGoPro-Ultra.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

